# .gitignore projet-hackaton-2025-social-media

backend/.env
backend/node_modules/
backend/.vercel/
!backend/.env.example

frontend/.env
frontend/node_modules/
frontend/.vercel/
!frontend/.env.example